<?xml version="1.0"?>

<model>
  <name>omni_wheel_case</name>
  <version>1.0</version>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Alexander Wentz</name>
    <email>wentz.alexander@gmail.com</email>
  </author>

  <description>
    Modell of a omni_wheel_case that is used in RoboCup.
  </description>

</model>
