<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="youbot_base_controller" params="namespace">

    <gazebo>
      <plugin name="base_controller" filename="libyoubot_base_controller.so">
        <commandTopic>${namespace}/cmd_vel</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <odometryRate>20.0</odometryRate>
        <robotBaseFrame>base_footprint</robotBaseFrame>
      </plugin>

   </gazebo>

  </xacro:macro>

</robot>
