<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="youbot_arm_controller" params="namespace">

    <gazebo>
      <plugin name="arm_controller" filename="libyoubot_arm_controller.so">
         <namespace>${namespace}</namespace>
      </plugin>
   </gazebo>

  </xacro:macro>

</robot>
