<?xml version="1.0"?>

<model>
  <name>barrier_tape_red</name>
  <version>1.0</version>
  
  <sdf version="1.4">model-1_4.sdf</sdf>


  <author>
    <name>Alexander Wentz</name>
    <email>wentz.alexander@gmail.com</email>
  </author>

  <description>
    Modell of a Barrier Tape that is used in RoboCup.
  </description>

</model>
