<?xml version="1.0"?>
<robot name="youbot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- The following included files set up definitions of parts of the robot body -->
  <!-- misc common stuff? -->
  <xacro:include filename="$(find luh_youbot_description)/urdf/common.xacro" />

  <!-- youbot base -->
  <xacro:include filename="$(find luh_youbot_description)/urdf/youbot_base/base.urdf.xacro" />

  <!-- youbot plate -->
  <xacro:include filename="$(find luh_youbot_description)/urdf/youbot_plate/plate.urdf.xacro" /> 

  <!-- youbot arm -->
  <xacro:include filename="$(find luh_youbot_description)/urdf/youbot_arm/arm.urdf.xacro"/>

  <!-- youbot gripper -->
  <xacro:include filename="$(find luh_youbot_description)/urdf/youbot_gripper/gripper.urdf.xacro" />

  <!-- joint state publisher -->
  <xacro:include filename="$(find luh_youbot_description)/robots/youbot_gazebo.xacro" />

  <!-- Now we can start using the macros included above to define the actual youbot -->
  <xacro:youbot_base name="base" namespace="gazebo"/>

  <xacro:youbot_plate name="plate" parent="base_link">
    <origin xyz="-0.039 0 0.064" rpy="0 0 0" />
  </xacro:youbot_plate>

  <xacro:youbot_arm name="arm" parent="base_link" namespace="gazebo">
    <origin xyz="0.258 0 0.066" rpy="0 0 0.576" />
  </xacro:youbot_arm>

  <xacro:youbot_gripper name="gripper" parent="arm_link_5" namespace="">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:youbot_gripper>

  <xacro:joint_state_publisher namespace="gazebo"/>

</robot>
