<?xml version="1.0"?>
<robot name="youbot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- The following included files set up definitions of parts of the robot body -->
  <!-- misc common stuff? -->
  <xacro:include filename="$(find luh_youbot_description)/urdf/common.xacro" />

  <!-- youbot base -->
  <xacro:include filename="$(find luh_youbot_description)/urdf/youbot_base/base.urdf.xacro" />

  <!-- youbot plate -->
  <xacro:include filename="$(find luh_youbot_description)/urdf/youbot_plate/plate.urdf.xacro" /> 

  <!-- youbot arm -->
  <xacro:include filename="$(find luh_youbot_description)/urdf/youbot_arm/arm.urdf.xacro"/>

  <!-- youbot gripper -->
  <xacro:include filename="$(find luh_youbot_description)/urdf/youbot_gripper/gripper.urdf.xacro" />

  <!-- joint state publisher -->
  <xacro:include filename="$(find luh_youbot_description)/robots/youbot_gazebo.xacro" />


  <!-- Now we can start using the macros included above to define the actual youbot -->
  <xacro:youbot_base name="base" namespace=""/>

  <xacro:youbot_plate name="plate" parent="base_link">
    <origin xyz="-0.039 0 0.064" rpy="0 0 0" />
    <!--Default inertia to see if  stops-->
    <!--<inertia ixx="0.1" ixy="0" ijitteringxz="0" iyy="0.1" iyz="0" izz="0.1" />-->
  </xacro:youbot_plate>

  <xacro:youbot_arm name="arm" parent="base_link" namespace="">
    <origin xyz="0.258 0 0.066" rpy="0 0 0.576" />
    <!--Default inertia to see if jittering stops-->
    <!--<inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1" />-->
  </xacro:youbot_arm>

  <xacro:youbot_gripper name="gripper" parent="arm_link_5" namespace="">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <!--Default inertia to see if jittering stops-->
    <!--<inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1" />-->
  </xacro:youbot_gripper>


  <!-- Kamera -->
  <!--xacro:include filename="$(find luh_youbot_description)/urdf/sensors/asus_xtion_camera.urdf.xacro" />

  <xacro:asus_xtion_camera name="camera" parent="arm_link_5" tilt="0.0">
    <origin xyz="-0.02 0 -0.04" rpy="0 -1.60 0" />

    <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1" />

  </xacro:asus_xtion_camera-->


  <xacro:joint_state_publisher namespace="gazebo"/>

</robot>
