<?xml version="1.0"?>
<robot name="youbot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- The following included files set up definitions of parts of the robot body -->
  <!-- misc common stuff? -->
  <xacro:include filename="$(find luh_youbot_description)/urdf/common.xacro" />

  <!-- youbot base -->
  <xacro:include filename="$(find luh_youbot_description)/urdf/youbot_base/base.urdf.xacro" />

  <!-- joint state publisher -->
  <xacro:include filename="$(find luh_youbot_description)/robots/youbot_gazebo.xacro" />

  <!-- Now we can start using the macros included above to define the actual youbot -->
  <xacro:youbot_base name="base" namespace=""/>  

  <xacro:joint_state_publisher namespace="gazebo"/>

</robot>
